!!!
%html
  %head
  %title CarRental
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true, "jquery_ujs" => true
  = csrf_meta_tags
  %body
    %div.navbar.navbar-fixed-top
      %div.navbar-inner
        %div.container
          %a.btn.btn-navbar{'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => '/available_cars'}
            Car Rental
          %div.nav-collapse
            %ul.nav
              -if signed_in?(:user)
                %li= link_to "#{current_user.name}", edit_user_path(current_user)
                %li= link_to 'Logout', destroy_user_session_path, :method => :delete
              - elsif signed_in?(:admin)
                %li= link_to 'Logout', destroy_admin_session_path, :method => :delete
              -else
                %li= link_to 'Login', new_user_session_path
                %li= link_to 'Sign up', new_user_registration_path

    %div.container
      %div.row
        %div.span9
          = yield
        %div.span3
          %h1 About Us
          %p{:style => 'padding-top: 10px;'}
            sldkgfsdghk sdlkghkl jshdglk shdlksh dglks dlgk sd
            gds glksdh ldskjgh sdlkjgh sldkgh sdg
            dsglk dsjhgls kdjgs
            dg sdl;kgjh dslkgjhdslkgjhsdlkghsdlkgjh
            dsgkljsh dgklh dsklgh sdg
            sdglksdjhlsdkjghskldghaslkghawpeuog
            lkjghaskljghasdklgh
            dg sdl;kgjh dslkgjhdslkgjhsdlkghs
            dlkgjh dsgkljsh dgklh dsklgh sdg
            sdglksdjhlsdkjghskldghaslkghawpeuoghas
            lkjghaskljghasdklgh
