- model_class = Car
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize + ' need licensing'
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:manufacturer)
      %th= model_class.human_attribute_name(:model)
      %th= model_class.human_attribute_name(:rent_price)
      %th= model_class.human_attribute_name(:image)
  %tbody
    - @l_cars.each do |car|
      %tr
        %td= link_to car.manufacturer, car_path(car)
        %td= car.model
        %td= car.rent_price
        %td= image_tag car.image.url(:thumb)
