- unless current_admin
  %h3 You're not allowed to be here
  = link_to 'Home', '/'
- else
  %h2 Create a new Admin
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!
    %div
      = f.label :name
      %br/
      =f.text_field :name, :autofocus => true
    %div
      = f.label :email
      %br/
      = f.email_field :email
    %div
      = f.label :password
      %br/
      = f.password_field :password
    %div
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation
    %div= f.submit "Create"
  = render "devise/shared/links"
